# Local credentials
openai-secret-key-ai-integrations-developers.txt
langsmith-travel-agent-secret-key.txt

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# Local vector databases
chroma_db*/
